
.skill__container{
  background-color:$bkg-color-first;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  margin-bottom:2rem; 
}

.skill__container .background{
  display:flex; 
  margin:1rem;
  display:-ms-flexbox;
  -ms-flex-wrap:wrap;
  -ms-flex-direction:column;
  flex-flow:row wrap;
  display:-webkit-box;
  -webkit-flex-flow:row wrap; 
}

.skill__container .background img{
  display:flex; 
  margin:1rem;
  display:-ms-flexbox;
  -ms-flex-wrap:wrap;
  -ms-flex-direction:column;
  flex-flow:row wrap;
  display:-webkit-box;
  -webkit-flex-flow:row wrap; 
}

.skill__title{
  background-color:#000000;
  height:5rem;
}
  img{
  position:absolute;
  width:30vw;
  height:20vh;
  z-index: 1; 
  }

  h3{
  font-family:'rounded';
  font-size:1rem;
  color:#ffffff;
  position:absolute;
  margin:11vh 0 0 6vw;
  visibility: hidden;
  z-index:2; 
  }

.background {
  width:40vw;
  height:25vh;
  background-color:#20202a;

}

.background img:hover{
  visibility: hidden;
}
@media (min-width:900px){
  .skill__container .background img{
    margin:4rem;
  }
img{
  width:9vw;
  height:20vh;
  }

  .background {
    width:20vw;
    height:40vh;
    background-color:#20202a;
  
  }


}

