
.exp__section{
  width:100%;
  height:190vh;
}

.exp__section h2{
  margin-top:4rem;
  margin-bottom:2rem;
}
  .table--style{
    font-family: 'rounded';
    color:#ffffff;
    font-size:0.85rem;

  }
  .tbody__border{
    border-top:none;
  }
