@font-face {
font-family: 'azonix';
src: url('../fonts/azonix/Azonix.otf') format('truetype');
}
@font-face{
font-family: 'rounded';
src: url('../fonts/rounded_elegance/Rounded_Elegance.ttf') format('truetype');

}
body{
background-color:$bkg-color-first;
color:$text-color-first; 
}

h2{
font-size:$font-size-m;
font-family: 'azonix';
margin:2rem 1rem 1rem 1rem;
}

p{
font-family: 'rounded';
}

.header__section{
width:100%;
height:5rem;
}

.line--section{
color:$element-color;
font-size:2rem;
}

.line--small-title{
color:$element-color;
font-size:1.5rem;
}

// square section
.square {
position:relative;
width:8rem;
height:8rem;
color: hsl(217, 94%, 45%);
animation: wheelHueColor 10s infinite;
background-color: currentColor;
}

@supports (background-blend-mode: overlay) {
.square  {
background-image: linear-gradient(20deg,$bkg-color-second 20%,$bkg-color-first 80%);
background-blend-mode: overlay;
}
}

@keyframes wheelHueColor {
from, to { color: hsl(236, 94%, 27%); }
10%      { color: rgb(50, 69, 231); }
20%      { color: rgb(26, 75, 155); }
30%      { color: rgb(7, 107, 153); }
40%      { color: hsl(217, 96%, 28%); }
50%      { color: hsl(221, 96%, 21%); }
60%      { color: hsl(209, 84%, 55%); }
70%      { color: hsl(216, 60%, 45%); }
80%      { color: hsl(212, 85%, 52%); }
90%      { color: hsl(241, 93%, 29%); }
}

.square__container{
background-color:$bkg-color-first;
display:flex;
flex-flow:row wrap;
justify-content: center;
margin-bottom:2rem; 
}

.square__container .square{
display:flex; 
margin:1rem;
display:-ms-flexbox;
-ms-flex-wrap:wrap;
-ms-flex-direction:column;
flex-flow:row wrap;
display:-webkit-box;
-webkit-flex-flow:row wrap; 
}

.square__container .square .square__img{
display:flex; 
margin:1rem;
display:-ms-flexbox;
-ms-flex-wrap:wrap;
-ms-flex-direction:column;
flex-flow:row wrap;
display:-webkit-box;
-webkit-flex-flow:row wrap; 
}

.square__img{
width:6rem;
height:6rem;
}
  
// RESPONSIVE
@media (min-width:900px){
.square__container{
width:100%;
margin:0;
}
.square__container .square .square__img{
margin:2rem;
}
.square__img{
width:10rem;
height:10rem;
}

.square{
width:13rem;
height:13rem;
}

h2{
font-size:$font-size-m;
margin:2rem 1rem 1rem 3rem;
  }
}