// element color

$bkg-color-first:#000000;
$square-bkg-color:hsl(217, 100%, 12%);
$overlay-video:hsl(251, 89%, 7%);
$element-color:hsl(217, 98%, 19%);
$border-color:#20202a;

//  text color
$text-color-first:#ffffff;
$text-color-second:#8b8b8b;
$text-color-third:#d3d1d1;