.square__p{
  display:none;
  font-family: $font-family-first;
  font-size: $asset-title-s;
  color: $text-color-first;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  text-transform: uppercase;
}
.square:hover .square__img{
 
  display:none;
  visibility: hidden;
}

.square:hover .square__p{
  display:block;
  font-size:0.65rem;
  text-decoration:none;
}

@media (min-width:900px) {

  .skill__section{
    height:550px;
  }
  .square__p{
    width: 13rem;
    height:13rem;
    line-height: 13rem;

  }
  .square:hover .square__p{
    font-size:1.1rem;
  }
}