// square section

.square {
    width: 8rem;
    height: 8rem;
    color: $square-bkg-color;
    background-color: currentColor;
    animation: wheelHueColor 10s infinite;
  }
  
  // animation square
  @supports (background-blend-mode: overlay) {
  .square  {
  background-image: linear-gradient(20deg,$text-color-first 5%,$bkg-color-first 95%);
  background-blend-mode: overlay;
  }
  }
  
  // @keyframes wheelHueColor {
  // from, to { color: hsl(214, 68%, 27%); }
  // 10%      { color: rgb(3, 77, 126); }
  // 20%      { color: rgb(26, 75, 155); }
  // 30%      { color: rgb(4, 56, 80); }
  // 40%      { color: hsl(217, 67%, 31%); }
  // 50%      { color: hsl(221, 43%, 35%); }
  // 60%      { color: hsl(217, 57%, 32%); }
  // 70%      { color: hsl(216, 60%, 45%); }
  // 80%      { color: hsl(206, 70%, 26%); }
  // 90%      { color: hsl(215, 67%, 33%); }
  // }
  
  .square__container {
    background-color: $bkg-color-first;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .square__container .square {
    display: flex;
    margin: 1rem;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-flow: row wrap;
    display: -webkit-box;
    -webkit-flex-flow: row wrap;
  
  }
  
  .square__container .square .square__img{
    display: flex;
    margin: 1rem;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-flow: row wrap;
    display: -webkit-box;
    -webkit-flex-flow: row wrap;
    display:block;
  }
  
  .square__img {
    width: 6rem;
    height: 6rem;
  }

  

@media (min-width:900px) {
    .square__container {
      width: 100%;
      margin: 0;
    }
  
    .square__container .square .square__img {
      margin: 2rem;
    }
  
    .square__img {
      width: 10rem;
      height: 10rem;
    }
  
    .square {
      width: 13rem;
      height: 13rem;
    }
  }