@font-face {
    font-family: 'azonix';
    src: url('../fonts/azonix/Azonix.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'rounded';
    src: url('../fonts/rounded_elegance/Rounded_Elegance.ttf') format('truetype');
  
  }

$menu-font-size:0.86rem;
$welcome-title-l:2.5rem;
$welcome-title-m:1.2rem;
$welcome-title-s:0.86rem;
$section-title-l:1.8rem;
$section-title-m:1.2rem;
$p-size:0.86rem;
$path-title-size:1rem;
$path-year-size:0.86rem;
$path-location-size:0.86rem;
$asset-title-m:1.1rem;
$asset-title-s:0.84rem;
$button-font-size:0.90rem;
$pjc-title-l:1.2rem;
$pjc-dot:2.5rem;
$font-family-first:'azonix';
$font-family-second:'rounded';