.video__container{
width:400px;
display:flex;
justify-items: center;
align-items:center;
align-content: center;
margin:auto;
text-align:center;
}

.video__wrapper{
position:absolute;
width:100%;
height:100vh;
overflow: hidden;
}

.fullscreen-video__wrapper video{
min-width:100%;
min-height:100%;
}

.video__overlay{
height:100vh;
width:100vw;
position:absolute;
background-image:url('../img/mobilewelcome.jpg');
background-repeat:no-repeat;
z-index:1;
opacity:1;
}

.video__content{
width:70%;
top:50%;
margin:1rem;
z-index:2;
}

.video__content h1{
font-family: $font-family-first;
font-size:$welcome-title-l;
font-weight: 100;
padding-bottom:2rem;    
}

.video__content p{
font-family:$font-family-first;
font-size:$welcome-title-m;
display:block;
padding-bottom:2rem;
}

.btn--video{
font-family:$font-family-second;
color:$text-color-first;
font-size:$welcome-title-s;
background:none;
text-decoration:none;  
}


// RESPONSIVE

@media (min-width:360px){
.video__container{
width:100%;
display: flex;
justify-items: center;
align-items:center;
align-content: center;
}

.video__content{
z-index:2;      
width:100%;
height:auto;
margin:1rem;
}
}

@media (min-width:900px){
.video__container{
width:100%;
display: flex;
justify-items: center;
align-items:center;
align-content: center;
}
.video__content{
z-index:2;
width:100%;
height:auto;
margin:1rem;
}
.video__overlay{
background-image:none;
background-color:$overlay-video;
opacity:0.8;
}
}


