@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/root";
$bkg-color-first:#000000;
$bkg-color-second:#ffffff;
$element-color:hsl(212, 87%, 51%);
$text-color-first:#ffffff;
$text-color-second:#8b8b8b;
$text-color-third:#d3d1d1;
$text-color-forth:#000000;
$border-color:#20202a;
$font-title-l:3.5rem;
$font-title-m:2.5rem;
$font-title-s:1.2rem;
$font-size-l:2rem;
$font-size-m:1.2rem;
$font-size-s:0.86rem;

@import "../scss/assets";
@import "../scss/skill";
@import "../scss/welcome";
@import "../scss/home";
@import "../scss/about";
@import "../scss/path";
@import "../scss/project";
@import "../scss/all-round";
