background-image: url('../img/mobilewelcome.jpg');

.video__container {
    width: 400px;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: auto;
    text-align: center;
    background-image: url('../img/mobilewelcome-s.jpg');
    background-repeat: no-repeat;
}